// SASS DATOS 
$color1: aqua;
$color2: rgb(197,180,227);
$color3: crimson;
$color4: black;
// SASS DATOS 
/* BODY Y NAVBAR Y FOOTER TODOS */
body{
    background-image: url(../images/BilllieBG.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    }

.navbar {
    padding: 0;
    }
.navbar-brand img{
    height: 50px;
    margin-left: 5px;
}
.navbar-toggler {
    background-color: rgb(95, 148, 228);
}
.nav-item:hover {
    background-color:rgba(133, 115, 177, 0.2)
}
footer {
    color: red;
}
/* BODY Y NAVBAR Y FOOTER TODOS */

/* INDEX START */
.jumbotron {
    background-image: url(../images/fondonombres.jpg);
    background-size: cover;
    background-position:bottom;
    background-repeat: no-repeat;
    height: 400px;
    margin: 0;
    border-radius: 0;
    padding-top: 100px;
}

.jumbotron h1 {
    color: aqua;
    text-shadow: 0 0 5px #222;
    font-weight: bold;
}

.jumbotron p{
    color: rgb(247, 0, 0);
    text-shadow: 0 0 5px #222;
    font-weight: bold;
    font-size: 22px;
    font-style: bold;
}

.nav-link{
    color: black !important;
    font-size: x-large;
}   

/* Aplica para todos los H2 */
h2 {
    color: black;
    text-align: center;
    text-transform: capitalize;
    padding: 10px;
    margin-top: 1px;
    margin-bottom: 1px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
}
/* Aplica para todos los H2 */

.n-left-index {
    height: 400px;
    padding: 20px;
    background-color: $color2;
}

.n-left-index p{
    color: black;
    padding: 25px;
    text-align: justify;
}

h3 {
    font-style: italic;
}

.n-right-index {
    height: 400px;    
    background-color: $color2;
    background-image: url(../images/Billliex7.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
s
.col-12 {
    padding-right: 0px;
    padding-left: 0px;
}
// Use debutmv y debutmvhijo para un extend mas abajo
/* Mixin Desafio */
@mixin centerdad($width, $textalign, $alignself) {
    width: $width;
    text-align: $textalign;
    align-self: $alignself;
}
.debutmv {
    @include centerdad(100%, center, center);
    padding-left: 0px;
    padding-right: 0px;    
}
@mixin centerson($display, $margin, $padding) {
    display: $display;
    margin: $margin;
    padding: $padding;
}
.debutmvhijo {
    @include centerson(inline-block,0 auto, 5px);
    height: 100%;
}
/* Mixin Desafio */
// Use debutmv y debutmvhijo para un extend mas abajo

.row {
    margin: 0;
    padding: 0;
}

/* INDEX END */

/* Members Start */
.row-members {
    margin-top: 1px;
}

.card-img-top:hover {
    filter: drop-shadow(0 0 0.75rem crimson) saturate(1.6);
    transform: scale(1.01);
}

.row.row-cols-1.row-cols-md-2 {
    padding-top: 15px;
}

.card-title {
    text-shadow: 0 0 1px rgb(0, 0, 0);
}
.card-text {
    font-size: large;
}
#carouselExampleIndicators {
    margin-left: 20px;
    margin-right: 20px;
}
/* Members End */

.twitterembed {
    margin-top: 2px;
}
.twitterembedhijo {
    margin: 0px auto;
}

.n-left-videos {
    position: relative;
    top: 0; right: 0; bottom: 0; left: 0;
    margin: auto;
}
.infovideos{
    position: relative;
    width: 80%;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    background: $color2;
    padding-top: 2px;
    padding-bottom: 2px;
}
.infovideos:hover {
    filter: drop-shadow(0 0 0.75rem $color1);
    font-weight: bold;
}

.ssnlogos {
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#contactbody {
    background-color: $color4;
}
.buttoncontact {
    padding-left: 15px;
    padding-bottom: 5px;
}
.contactlogos {
    padding: 10px;
}
form {
    background-color: $color2;
    text-align: center;
    align-self: center;
}

/* Extend Desafio */
.maplocation {
    @extend .debutmv;
}
.maplocationhijo {
    @extend .debutmvhijo;
}
/* Extend Desafio */
/* Maps Desafio */
$cards: (
    m1: rgba(148, 0, 148, 0.712),
    m2: green,
    m3: pink,
    m4: red,
    m5: orange,
    m6: yellow,
    m7: #00ccff
    );
    
    @each $m, $color in $cards {
        .card-body--#{$m} {
            background-color: $color;
        }
    }
/* Maps Desafio */








