/* BODY Y NAVBAR Y FOOTER TODOS */
body {background-color: black;}
.navbar {
    padding: 0;
    }
.navbar-brand img{
    height: 50px;
    margin-left: 5px;
}
.navbar-toggler {
    background-color: rgb(95, 148, 228);
}
.nav-item:hover {
    background-color:rgba(133, 115, 177, 0.2)
}
footer {
    color: red;
}
/* BODY Y NAVBAR Y FOOTER TODOS */

/* INDEX START */
.jumbotron {
    background-image: url(../images/fondonombres.jpg);
    background-size: cover;
    background-position:bottom;
    background-repeat: no-repeat;
    height: 400px;
    margin: 0;
    border-radius: 0;
    padding-top: 100px;
}

.jumbotron h1 {
    color: crimson;
    text-shadow: 0 0 5px #222;
    font-weight: bold;
}

.jumbotron p{
    color: rgb(247, 0, 0);
    text-shadow: 0 0 5px #222;
    font-weight: bold;
    font-size: 22px;
    font-style: bold;
}

.nav-link{
    color: black !important;
    font-size: x-large;
}   

/* Aplica para todos los H2 */
h2 {
    color: black;
    text-align: center;
    text-transform: capitalize;
    padding: 10px;
    margin-bottom: 1px;
    margin-top: 1px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
}
/* Aplica para todos los H2 */

.n-left {
    height: 400px;
    padding: 20px;
    background-color: rgb(197,180,227);
}

.n-left p{
    color: black;
    padding: 25px;
    text-align: justify;
}

h3 {
    font-style: italic;
}

.n-right {
    height: 400px;    
    background-color:rgb(197,180,227);
    background-image: url(../images/Billliex7.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
s
.col-12 {
    padding-right: 0px;
    padding-left: 0px;
}
.debutmv {
    width: 100%;
    text-align: center;
    align-self: center;
    padding-left: 0px;
    padding-right: 0px;
}
.debutmvhijo {
    display: inline-block;
    margin: 0 auto;
    padding: 5px;
    height: 100%;
}

.row {
    margin: 0;
    padding: 0;
}

/* INDEX END */

/* Members Start */
.card-body {
    background-color:rgb(197,180,227) ;
}

.row-members {
    margin-top: 1px;
}

.card-img-top:hover {
    filter: drop-shadow(0 0 0.75rem crimson) saturate(1.6);
    transform: scale(1.01);
}

.row.row-cols-1.row-cols-md-2 {
    padding-top: 15px;
}

.card-title {
    text-shadow: 0 0 1px rgb(0, 0, 0);
}
.card-text {
    font-size: large;
}
/* Members End */

.twitterembed {
    margin-top: 1px;
}