// SASS DATOS 
$color1: aqua;
$color2: rgb(197,180,227, 0.65);
$color3: rgb(197,180,227);
$color4: black;
// SASS DATOS 
/* BODY Y NAVBAR Y FOOTER TODOS */
body{
    background-image: url(../images/BilllieBG.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    }

.navbar {
    padding: 0;
    }
.navbar-brand img{
    height: 50px;
    margin-left: 5px;
}
.navbar-toggler {
    background-color: rgb(95, 148, 228);
}
.nav-item:hover {
    background-color:rgba(133, 115, 177, 0.2)
}
footer {
    color: red;
}
/* BODY Y NAVBAR Y FOOTER TODOS */

/* INDEX START */
.jumbotron {
    background-image: url(../images/fondonombres.jpg);
    background-size: cover;
    background-position:bottom;
    background-repeat: no-repeat;
    height: 400px;
    margin: 0;
    border-radius: 0;
    padding-top: 100px;
}

.jumbotron h1 {
    color: aqua;
    text-shadow: 0 0 5px #222;
    font-weight: bold;
}

.jumbotron p{
    color: $color3;
    text-shadow: 0 0 5px #222;
    font-weight: bold;
    font-size: 22px;
    font-style: bold;
}

.nav-link{
    color: black !important;
    font-size: x-large;
}   

/* Aplica para todos los H2 */
h2 {
    color: black;
    text-align: center;
    text-transform: capitalize;
    padding: 10px;
    margin-top: 0px;
    margin-bottom: 5px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
}
/* Aplica para todos los H2 */

.n-left-index {
    height: 400px;
    padding: 20px;
    background-color: $color2;
}

.n-left-index p{
    color: black;
    padding: 25px;
    text-align: justify;
}

h3 {
    font-style: italic;
}

.n-right-index {
    height: 400px;    
    background-color: $color2;
    background-image: url(../images/Billliex7.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.col-12 {
    padding-right: 0px;
    padding-left: 0px;
}
// Use debutmv y debutmvhijo para un extend mas abajo
/* Mixin Desafio */
@mixin centerdad($width, $textalign, $alignself) {
    width: $width;
    text-align: $textalign;
    align-self: $alignself;
}
.debutmv {
    @include centerdad(100%, center, center);
    padding-left: 0px;
    padding-right: 0px;    
}
@mixin centerson($display, $margin, $padding) {
    display: $display;
    margin: $margin;
    padding: $padding;
}
.debutmvhijo {
    height: 100%;
    width: 88%;
    top: 0; right: 0; bottom: 0; left: 0;
    display: inline-block;
    padding: 5px;
}

/* Mixin Desafio */
// Use debutmv y debutmvhijo para un extend mas abajo

.row {
    margin: 0;
    padding: 0;
}

/* INDEX END */

/* Members Start */
.row-members {
    margin-top: 1px;
}

.card-img-top:hover {
    filter: drop-shadow(0 0 0.75rem crimson) saturate(1.6);
    transform: scale(1.01);
}

.card-img-top {
    border-radius: 20px;
    height: 90%;
    width: 70%;
    margin: 0px auto;
    margin-bottom: 1px;
}
@media only screen and (max-width: 767px) {
    .card-img-top {
        width: 90%;
        height: 100%;
        margin-top: 0.5rem;
    }
    .col.mb-4 {
        margin-bottom: 1rem!important;
        margin-top: 1rem!important;
    }
}
.card {
    background-color: transparent;
    border: 0px;
}

.card-title {
    text-shadow: 0 0 1px rgb(0, 0, 0);
}
.card-text {
    font-size: large;
    padding: 5px;
}

#carouselExampleIndicators {
    width: 90%;
    height: 90%;
    margin: 0px auto;
}
/* Members End */

.twitterembed {
    margin-top: 2px;
}
.twitterembedhijo {
    margin: 0px auto;
}

.n-left-videos {
    position: relative;
    top: 0; right: 0; bottom: 0; left: 0;
    margin: auto;
}

.infovideos {
    position: relative;
    width: 80%;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    background: $color2;
    padding-top: 0px;
    padding-bottom: 2px;
    border-radius: 15px;
    margin-bottom: 5px;
}
@media only screen and (max-width: 991px) {
    .infovideos {
        display: none;
    }
    .debutmvhijo {
        width: 100%;
    }
}


.infovideos h3 {
    padding: 2px;
}
.infovideos p {
    padding: 10px;
}
.infovideos:hover {
    filter: drop-shadow(0 0 0.75rem $color1);
    font-weight: bold;
}

.ssnlogos {
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#contactbody {
    background-color: $color4;
}
.buttoncontact {
    padding-left: 15px;
    padding-bottom: 5px;
}
.contactlogos {
    padding: 10px;
}
form {
    background-color: $color2;
    text-align: center;
    align-self: center;
    margin-bottom: 5px;
}
.form-group.col-xs-12.col-md-6 {
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
}

/* Extend Desafio */
.maplocation {
    @extend .debutmv;
}
.maplocationhijo {
    @include centerson(inline-block, 1px auto, 5px);
}
/* Extend Desafio */
/* Maps Desafio */
$cards: (
    m1: $color2, 
    m2: $color2, 
    m3: $color2, 
    m4: $color2, 
    m5: $color2, 
    m6: $color2, 
    m7: $color2, 
    m8: $color2, 
    );
    
    @each $m, $color in $cards {
        .card-body--#{$m} {
            background-color: $color;
            border-radius: 25px;
            width: 90%;
            margin: 0px auto;
        }
    }

$cards3: (
    m1: purple,
    m2: green,
    m3: pink,
    m4: red,
    m5: orange,
    m6: yellow,
    m7: #00ccff,
    m8: white,
    );   
    @each $m, $color in $cards3 {
        .card-title--#{$m} {
            color: $color;
        }
    }
    @each $m, $color in $cards3 {
        .card-text--#{$m} {
            color: $color;
        }
    }



/* Maps Desafio */








